{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "no-console": "error"
  },
  "overrides": [{
    "files": [
      "overrides.js"
    ],
    "rules": {
      "no-console": "warn"
    }
  }]
}